.edit-done-todo-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    & > img {
        width: 0.8vw;
        height: 0.8vw;
        pointer-events: none;
        transform: translateY(0.1vw);
    }

    &:hover {
        & > img {
            filter: invert(0.4);
        }
    }

    &:active {
        & > img {
            filter: invert(0.8);
        }
    }
}
